@model TourUpdateVM


@{
    ViewBag.Title = "TravelAgencyAdminPanel";
}

@{
    Layout = "~/Views/Shared/_TravelAgencyAdminLayout.cshtml";
}
<h2>Tour will update to here</h2>
<br />

<form asp-controller="admin" asp-action="updatetour" class="form-group" method="post">

    <label>Tour Price:</label>
    <input asp-for="tourPrice" type="text" name="tourPrice" placeholder="@Model.tourPrice" />
    <br />
    <label>Max Guest:</label>
    <input asp-for="maxGuest" type="number" name="maxGuest" placeholder="@Model.maxGuest" />
    <br />
    <label>Description:</label>
    <textarea asp-for="description" name="description" placeholder="@Model.description" rows="20" cols="80"></textarea>
    <br />
    <button class="btn btn-primary">UPDATE</button>
</form>

<div asp-validation-summary="All">

</div>
<div>
    <p>@ViewBag.errorMessage</p>
    <p>@ViewBag.succesfulMessage</p>
</div>