@model (Tour to, TravelAgency ta)

@{
    ViewBag.Title = "ResevationTour";
}
<head>
    <link rel="stylesheet" href="~/css/StyleAdmin.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<div style="text-align:center;">
    <h3>Reservation Summary</h3>
    <table class="table table-bordered">
        <tr>
            <td>Supplier</td>
            <td>@Model.ta.name</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Model.to.tourPrice</td>
        </tr>
        <tr>
            <td>Deperture Place</td>
            <td>@Model.to.deperturePlace</td>
        </tr>
        <tr>
            <td>Arrival Place</td>
            <td>@Model.to.arrivalPlace</td>
        </tr>
        <tr>
            <td>Tour Region</td>
            <td>@Model.to.tourType</td>
        </tr>
    </table>
    <h3>Payment Informations</h3>
    <table class="table table-bordered">
        <tr>
            <td>Fee</td>
            <td>Tax and Other</td>
            <td>Subtotal</td>
        </tr>
        <tr>
            @{
                double taxAndOther = @Model.to.tourPrice * 1.08 - Model.to.tourPrice;
                double fee = @Model.to.tourPrice - taxAndOther;
                <td>@fee TL</td>
                <td>@taxAndOther TL</td>
                <td>@Model.to.tourPrice TL</td>
            }
        </tr>
    </table>
    <h3>Determine Your Form of Payment</h3>

    <form asp-controller="home" asp-action="reservationtour" method="post">
        <label>Name on the Card</label>
        <input type="text" name="nameOnTheCard" />
        <br />

        <label>Card Number</label>
        <input type="text" name="cardNumber" />
        <br />

        <label>Expiration Date</label>
        <span>
            Month
            <select>
                @for (int i = 1; i <= 12; i++)
                {
                    <option>@i</option>
                }
            </select>
        </span>
        <span>
            Year
            <select>
                @for (int i = 2023; i <= 2036; i++)
                {
                    <option>@i</option>
                }
            </select>
        </span>
        <br />
        <label>CVC</label>
        <input type="text" name="cvc" />
        <br />
        <input name="travelAgencyID" value="@Model.ta.ID" hidden />
        <input name="tourID" value="@Model.to.ID" hidden />
        <button  style="background-color:orange;color:white">Pay ></button>
    </form>
</div>
<div>
    <p>@ViewBag.errorMessage</p>
</div>
